NET "CLK" LOC = "M6";

NET "POUT" LOC = "B2";

NET "LED<0>" LOC = "M5";
NET "LED<1>" LOC = "M11";
NET "LED<2>" LOC = "P7";
NET "LED<3>" LOC = "P6";
NET "LED<4>" LOC = "N5";
NET "LED<5>" LOC = "N4";
NET "LED<6>" LOC = "P4";
NET "LED<7>" LOC = "G1";

NET "RGB<7>" LOC = "F13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "RGB<6>" LOC = "D13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "RGB<5>" LOC = "C14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "RGB<4>" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "RGB<3>" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "RGB<2>" LOC = "F14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "RGB<1>" LOC = "J13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "RGB<0>" LOC = "H13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "HS" LOC = "J14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "VS" LOC = "K13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;